  .loginBtn .button-native {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .loginBtn:hover {
    --box-shadow: 0 1px 2px rgba(60, 64, 67, .30), 0 1px 3px rgba(60, 64, 67, .15);
  }
  
  .loginBtn:disabled {
    --background: #fafafa;
    --border-color: #1f1f1f1f;
    opacity: 38%;
  }
  
  .loginBtn:not(:disabled):active {
    background-color: #303030;
    opacity: 12%;
  }
  

  .no-underline {
        text-decoration: none;
        color: inherit;
      }

    .no-transform {
        text-transform: none;   
    }
  

    .custom-ripple-none{
      --ripple-color: transparent;
      --background-hover: transparent;
  }

  .custom-button {
    --border-radius: 4px;
    --color: #0e0e0e;
    /* --box-shadow: none;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
    --font-family: 'Roboto', arial, sans-serif;
    --font-size: 16px;
    --font-weight: 600;
    --letter-spacing: 0.25px;
    --height: 40px;
    --width: 90%;
    --max-width: 400px;
    --min-width: 240px;
    --margin: 0 auto;
    --transition: background-color .218s, border-color .218s, box-shadow .218s;
    --user-select: none;
    --webkit-tap-highlight-color: transparent; */
  }